@using BLL.Dto
@using DAL.Entities
@using Microsoft.AspNetCore.Identity
@model IEnumerable<CollectionDto>
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

@if (Model.Any())
{
    <div class="row row-cols-auto">
        @foreach (var collection in Model)
        {
            <partial name="_CollectionCard" model="collection" />
        }
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">There are no collections!</h1>
    </div>
}
